$black: #000;
$white: #fff;

// Background Colors
$background-color: $white;
$foreground-color: $black;

$nav-background-color: $black;
$nav-foreground-color: $white;

$link-color: $black;

// Font Colors
$base-font-color: $black;
$action-color: $black;

// Border
$base-border-color: $black;
