table {
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: $heading-line-height;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: $base-border;
}

th {
  font-weight: $heavy-font-weight;
}

th,
td {
  padding: $x-small-spacing;
}

