.game-info {
  grid-area: game-info;

  .offline,
  .viewing {
    &:before {
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 0.75rem;
      margin-right: 0.25rem;
      width: 0.75rem;
    }
  }

  .offline {
    opacity: 0.4;

    &:before {
      background-color: #cc3333;
    }
  }

  .viewing {
    &:before {
      background-color: #66cc33;
    }
  }
}
