html {
  background: $background-color;
  color: mix($background-color, $foreground-color, 20%);
  font-weight: 300;
}

a {
  color: mix($background-color, $link-color, 30%);
}

main {
  margin-top: 5vmin;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.form-group {
  margin-top: 2em;
}
