html {
  background: $background-color;
  color: mix($background-color, $foreground-color, 20%);
  font-weight: 300;
}

a {
  color: mix($background-color, $link-color, 30%);
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h1 {
  font-size: 1.6em;
  margin: 0;
}

main {
  margin-top: 5vmin;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.form-group {
  margin-top: 2em;
}
