$black: #000;
$white: #fff;

$background-color: #1e3f51;
$foreground-color: white;

$link-color: #ffdd00;

$board-border-color: #000;
$board-shadow-color: rgba(0, 0, 0, 0.4);

$board-square-size: 9vmin;
$base-font-size: 16px;

$black-square-color: #777;
$white-square-color: #bbb;

$selected-square-color: #6f0;

$square-outline-color: darken($black-square-color, 20%);
$selected-outline-color: lighten($selected-square-color, 20%);

$colours: "black" "white";
$pieces: king queen bishop knight rook pawn;
