    <div class="game-info">
      <p>
        Playing <%= opponent(@game, @user.id).name %>
        <img class="game-info__opponent-status" src="/images/eye-closed.svg" alt="offline">
      </p>
    </div>
