<div class="form">
  <h2><%= gettext "New game" %></h2>

  <%= form_for @changeset, game_path(@conn, :create), [class: "create-game"],
      fn form -> %>
    <div class="form-group">
      <div id="opponent-finder"></div>
      <%= error_tag form, :opponent_id %>
    </div>

    <div class="form-group">
      <%= submit gettext("Create game"), class: "button" %>
    </div>
  <% end %>
</div>
