<div data-game-id="<%= @game.id %>">
  <div class="game-grid">
    <%= live_render(
      @conn,
      ChessWeb.BoardLive,
      session: %{"user_id" => current_user(@conn).id, "game_id" => @game.id}
    ) %>

    <%= live_render(
      @conn,
      ChessWeb.GameInfoLive,
      session: %{"user_id" => current_user(@conn).id, "game_id" => @game.id}
    ) %>
  </div>
</div>
