<h2><%= gettext "Welcome" %></h2>

<p>
  <%= gettext("%{login_link} or %{register_link} to get started",
        login_link: login_link(@conn),
        register_link: register_link(@conn)) |> raw %>
</p>
