<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shall We Play a Game?</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header role="banner">
        <nav role="user">
          <%= if current_user = Guardian.Plug.current_resource(@conn) do %>
            <%= current_user.username %>
            |
            <%= link("Log out", to: session_path(@conn, :delete), method: :delete) %>
          <% else %>
            <%= link("Register", to: registration_path(@conn, :new)) %>
            |
            <%= link("Log in", to: session_path(@conn, :new)) %>
          <% end %>
        </nav>
        <h1>Chess</h1>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
